[Unit]
Description=Platform configuration scrub

[Timer]
OnCalendar={{ ((monthly_platform_check | type_debug) != "bool") | ternary(monthly_platform_check, 'monthly') }}
Persistent=true
RandomizedDelaySec={{ monthly_platform_check_delay | default('4h')}}
FixedRandomDelay=true

[Install]
WantedBy=timers.target
