[Unit]
Description=upcp update service
After=local-fs.target
Before=platform-scrub.service

[Service]
EnvironmentFile=-/etc/sysconfig/apnscp
ExecStart="{{ apnscp_build_helper }}"

[Install]
WantedBy=multi-user.target
