[Unit]
Description=Resume panel installation from reboot
After=multi-user.target network-online.target
Wants=network-online.target
ConditionPathExists={{ apnscp_bootstrapper_resume_script }}

[Service]
Type=simple
TimeoutStartSec=5m
StartLimitBurst=3
StartLimitInterval=86400
Environment=HOME=/root
{% if fresh_start %}
Restart=on-failure
# Acquire a trial certificate if necessary
ExecStartPre=/bin/sh -c '[[ -f "{{ apnscp_root }}/config/license.pem" ]] || curl -f -A "apnscp bootstrapper" -o "{{ apnscp_root }}/config/license.pem" "https://bootstrap.apnscp.com/"'
# Each time removing opcenter/passwd to generate a welcome email if possible
ExecStartPre=-/bin/sh -c '[[ -f "{{ apnscp_root }}/storage/opcenter/passwd" ]] && rm -f "{{ apnscp_root }}/storage/opcenter/passwd"'
ExecStartPre=-/bin/sh -c 'env UPDATE_POLICY=edge BSCHECK=0 "{{ apnscp_build_helper }}" -n'
# Clear failed status on deinitialized install
ExecStartPre=-/bin/sh -c 'systemctl reset-failed apnscp'
# Exit code 2 doesn't prevent ExecStartPost from firing? via CentOS 7.7
{% endif %}
ExecStart=/bin/bash -c "{{ apnscp_bootstrapper_resume_script | quote }} && /bin/systemctl disable bootstrapper-resume"
RestartPreventExitStatus=SIGKILL

[Install]
WantedBy=multi-user.target
Alias=resume-bootstrapper.service
