#runCommandOutput {
	white-space: pre;
	max-height: 250px;
	overflow: scroll;
}

.cursor {
	font-family: monospace;
	font-size: 2em;
}

.cursor:after {
	content: "_";
	opacity: 0;
	animation: cursor 1s infinite;
}

@keyframes cursor {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.task label {
	text-transform: uppercase;
	font-size: smaller;
}

.text-muted {
	font-style: italic;
	background: #fafafa;
}

.text-muted .input-group {
	font-style: normal;
}

.task .cmd {
	font-size: larger;
}

#modal .cmd:before {
	display: inline-block;
	content: "Running: ";
}

.task .msg {
	display: none;
}