zend_extension = {{ apnscp_root }}/sys/php/{{ apnscp_php_module_api }}{{ (not panel_has_fpm) | ternary('-zts', '') }}/opcache.so
opcache.max_accelerated_files = 1024
opcache.memory_consumption = 32
opcache.file_cache_only=1
; Seen on Luna/Atlas, 7.1.16, 20180731
opcache.save_comments=0
opcache.enable_cli=0
opcache.load_comments=0
opcache.file_cache={{ apnscp_root }}/storage/cache
{% if apnscp_php_version is version('8.0', '>=') %}
opcache.jit_buffer_size=0
opcache.jit=function
{% endif %}
